.parallaxWrapper {
    background-image: url('../../assets/img/newsletter-bg.png');
    background-color: #405162;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    padding: 100px 0;
}

.container {
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
}

.title ,
.subtitle {
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.title {
    margin-bottom: 16px;
}

.subtitle {
    margin-bottom: 40px;
}



/*FORM */
.form {
    display: block;
    margin: 0 auto;
    width: 92%;
}

/*INPUT */
.label {
    font-size: 16px;
    line-height: 24px;
    display: block;
    margin-bottom: 6px;
}

.labelValid {
    composes: label;
    color: #b2b9c0;
    /*color: #6c757d;*/
    font-size: 12px;
    opacity: 0;
    margin-bottom: -6px;
}

.labelValid:last-child {
    margin-bottom: 26px;
}

.input {
    color: #ffffff;
    resize: none;
    width: 100%;
    display: block;
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    line-height: 36px;
    padding-left: 14px;
    margin-bottom: 10px;
}

.input::placeholder {

    color: #b2b9c0;
    font-size: 16px;
    line-height: 36px;
}

.input:focus {
    outline: none;
    border: 1px solid #66afe9;
    border-radius: 4px;
    background-color: transparent;
    /*box-shadow: 0 0 2px 1px #e6f2ff;*/
}

.input:focus + .labelValid {
    opacity: 1;
}

.input:invalid:not(:focus):not(:placeholder-shown) {
    border: 1px solid #dc3545;
    border-right: 4px;
}

.input:invalid:not(:focus):not(:placeholder-shown) + .labelValid {
    opacity: 1;
    color: #f55043;
}

.input:invalid:focus:not(:placeholder-shown) {
    border: 1px solid #dc3545;
    outline: none;
    border-radius: 4px;
    /*box-shadow: 0 0 3pt 2pt #f8d6da;*/
}

.input:invalid:focus:not(:placeholder-shown) + .labelValid {
    opacity: 1;
    color: #f55043;
}

.input:valid + .labelValid {
    opacity: 0;
}

.text {
    margin-bottom: 40px;
}


/*BUTTON SUBMIT FORM*/
.button {
    display: block;
    margin: 0 auto;
    width: 210px;
    /*background-color: #ef5b4c;*/
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 16px 0;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    color: #fefefe;
}

.button:hover {
    /*background-color: #d24335;*/
    background-color: #ffffff;
    color: #6a6a6a;
}